*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* header */
header{
    background-color: rgb(221, 244, 255);
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row{
    background-color: rgb(218, 165, 32);
    width: 100%;
    height: 50px; 
    display: flex;
    margin-left: 24%;
    margin-right: 24%;
}
.col_logo_button{
    height: 50px;
    width: 20%;
}
.col_bar{
    height: 50px;
    width: 60%;
}
/* main */
main{
    background-color: white;
}
/* first-box */
.first_box{
    background-color: rgb(0, 0, 139);
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
}
.row_box{
    background-color: rgb(238, 130, 238);
    width: 100%;
    height: 300px;
    margin-left: 30%;
    margin-right: 30%;
}
/* second-box */
.second_box{
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
}
.second_row{
    width: 100%;
    height: 400px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}
.col_blue{
    background-color: rgb(30, 144, 255);
    width: 70%;
    height: 100%;
    
}
.col_rose{
    background-color: rgb(255, 192, 203);
    width: 30%;
    height: 100%;
}
/* third-box */
.third_box{
    background-color: rgb(211, 211, 211);
}
/* fifth-box */
.fifth_box{
    background-color: rgb(211, 211, 211);
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
}
.fifth_row_box{
    background-color: rgb(34, 139, 34);
    width: 100%;
    height: 600px;
    margin-left: 10%;
    margin-right: 10%;
}
/* sixth-box */
.sixth_box{
    background-color: rgb(35, 39, 42);
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
}
.second_row_six{
    height: 100% ;
    width: 100%;
    display: flex;
    align-items: center; 
    background-color: rgb(30, 144, 255);
}
.col_big_rose{
    background-color: rgb(255, 192, 203);
    width: 40%;
    height: 100%;
}
.col_little_blue{
    width: calc(100% / 4);
    height: 100%;
}
/* footer */
footer{
    background-color:  rgb(35, 39, 42);
    height: 100px;
    align-items: flex-start;
    display: flex;
}
.foot_row{
    background-color: rgb(127, 255, 212);
    height: 90%;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.logo_foot{
    background-color: rgb(255, 182, 193);
    height: 40%;
    width: 10%;
    margin-top: 3%;
}
.button_foot{
    background-color: rgb(255, 182, 193);
    width: 10%;
    height: 40%;
    margin-top: 3%;
}